# Frontend
frontend/node_modules/
frontend/host/node_modules/
frontend/host/dist/
frontend/charts/node_modules/
frontend/charts/dist/
frontend/dist-deploy/

# Backend
backend/target/
backend/.mvn/
*.class

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
